<md-card *ngIf="is_search_mode">
  <md-input style="width:100%;" placeholder="快速搜索指定顾客：顾客名字/电话号码" [(ngModel)]="search_text" (ngModelChange)="searchCustomer()">
    <button md-icon-button md-suffix><md-icon>search</md-icon></button>
  </md-input>

  <md-card-content class="customer-card-list">
    <template ngFor let-customer_item [ngForOf]="search_list">
      <app-customer-card class="customer-card" [customer]="customer_item" (on-removed)="searchCustomer()"></app-customer-card>
    </template>
    <p md-line *ngIf="!is_search_able"><i>请输入搜索内容</i></p>
    <p md-line *ngIf="is_search_able&&!is_searching&&!search_list.length"><i>搜索无结果</i></p>
  </md-card-content>

  <md-card-footer>
    <md-progress-bar mode="determinate" [value]="search_progress"></md-progress-bar>
  </md-card-footer>
</md-card>
<md-card *ngIf="!is_search_mode">
  <md-card-content class="customer-card-list">
    <template ngFor let-customer_item [ngForOf]="customer_list">
      <app-customer-card class="customer-card" [customer]="customer_item" (on-removed)="getPages(true)" (on-submit)="onSubmitCustomer($event)"
        [edit-model]="customer_item.is_editing"></app-customer-card>
    </template>
  </md-card-content>
  <md-card-content class="pages">
    <md-button-toggle-group [(ngModel)]="current_page_index" (ngModelChange)="pageJump(current_page_index)">
      <!--不能使用ngModelChange来绑定事件，因为前一页和后一页的数据绑定时动态的，一旦使用ngModelChange绑定会造成持续触发-->
      <md-button-toggle value=0 [disabled]="loaded_page_index == 0">
        <md-icon>first_page</md-icon>
      </md-button-toggle>
      <md-button-toggle (click)="pageJump(loaded_page_index - 1)" [checked]="loaded_page_index&&false" [disabled]="loaded_page_index == 0">
        <md-icon>chevron_left</md-icon>
      </md-button-toggle>
      <md-button-toggle *ngFor="let page_index of pages" [value]="page_index" [disabled]="page_index == loaded_page_index">
        {{page_index+1}}
      </md-button-toggle>
      <md-button-toggle (click)="pageJump(loaded_page_index + 1)" [checked]="loaded_page_index&&false" [disabled]="loaded_page_index == pages.length-1">
        <md-icon>chevron_right</md-icon>
      </md-button-toggle>
      <md-button-toggle [value]="pages.length - 1" [disabled]="loaded_page_index == pages.length-1">
        <md-icon>last_page</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </md-card-content>
</md-card>