<md-card>
  <md-grid-list cols=2 rowHeight="65px" class="order-detail">
    <md-grid-tile>
      <md-input *ngIf="is_lock()" disabled required placeholder="类目" [value]="order_node.type.name"></md-input>
      <md-select *ngIf="!is_lock()" class="item-left-with-space" required [placeholder]="is_loading_type_list?'加载类目中……':'类目'" [(ngModel)]="order_node.type_id"
        (ngModelChange)="setObTypeId($event)">
        <md-option *ngFor="let type_option of type_options" [value]="type_option.id"> {{ type_option.name }} </md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
      <md-input [disabled]="is_lock()" class="item-right-with-space" placeholder="颜色" [(ngModel)]="order_node.color"></md-input>
    </md-grid-tile>
    <md-grid-tile>
      <md-input *ngIf="is_lock()" disabled required placeholder="材料" [value]="order_node.material.name"></md-input>
      <md-select *ngIf="!is_lock()" [disabled]="!material_options.length" required [placeholder]="is_loading_material_list?'加载材料中……':(material_options.length?'材料':'此类目无可选材料')"
        [(ngModel)]="order_node.material_id" (ngModelChange)="setObMaterialId($event)">
        <md-option *ngFor="let material_option of material_options" [value]="material_option.id"> {{ material_option.name }}</md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
      <md-input no-align="end" class="item-right-with-space" [disabled]="is_lock()" required placeholder="材料价格" type="number" min=0 step=0.1 [(ngModel)]="order_node.custom_material_price" (ngModelChange)="computeTotalPrice()">
        <span md-suffix>元/{{show_unit()}}</span>
      </md-input>
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list cols=2 rowHeight="65px" class="order-detail">
    <md-grid-tile>
      <md-input class="item-left-with-space" placeholder="加工" [(ngModel)]="order_node.machining_remark"></md-input>
    </md-grid-tile>
    <md-grid-tile>
      <md-input no-align="end" class="item-right-with-space" placeholder="加工费用" type=number step=0.1 min=0 [(ngModel)]="order_node.machining_price"
        (ngModelChange)="computeTotalPrice()">
        <span md-suffix>元</span>
      </md-input>
    </md-grid-tile>
  </md-grid-list>
  <br>
  <md-divider></md-divider>
  <br>
  <br>
  <md-card-title>材料价格计算方案：</md-card-title>
  <md-radio-group [(ngModel)]="order_node.calcType" (ngModelChange)="onCalcTypeChange()">
    <md-radio-button *ngFor="let calcType of CalcTypeNames;let i = index" [value]="i">{{calcType}}</md-radio-button>
  </md-radio-group>
  <br>
  <md-divider></md-divider>
  <br>
  <br>
  <md-card-title>
    <span class="card-title-text">尺寸列表</span>
    <button md-icon-button class="card-title-action" (click)="addSizeItem()" md-tooltip="添加尺寸" tooltip-position="after">
      <md-icon>add_circle_outline</md-icon>
    </button>
  </md-card-title>
  <md-grid-list *ngFor="let size_item of order_node.size_list;let i = index" cols=4 rowHeight="65px" class="order-size-list">
    <md-grid-tile [colspan]="order_node.calcType == CalcType['面积']?1:3">
      <md-input placeholder="长度" align="end" type="number" step=0.1 min=0 [(ngModel)]="size_item.width" (ngModelChange)="computeTotalPrice()">
        <span md-suffix>米</span>
      </md-input>
    </md-grid-tile>
    <md-grid-tile *ngIf="order_node.calcType == CalcType['面积']">
      <md-input placeholder="宽度" align="end" type="number" step=0.1 min=0 [(ngModel)]="size_item.height">
        <span md-prefix>&nbsp;×&nbsp;</span>
        <span md-suffix>米</span>
      </md-input>
    </md-grid-tile>
    <md-grid-tile *ngIf="order_node.calcType == CalcType['面积']">
      = {{computeSizeArea(i)|fixed:4}} 米²
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="removeSizeItem(i)"><md-icon>remove_circle_outline</md-icon></button>
    </md-grid-tile>
  </md-grid-list>
  <br>
  <md-divider></md-divider>
  <br>
  <br>
  <md-card-title>合计价格：{{order_node.total_price|fixed}}</md-card-title>
</md-card>