<md-card>
    <md-card-title>类目“{{category.name}}”包含的材料</md-card-title>
    <md-grid-list md-card-image class="headers" cols="4" rowHeight="48px">
        <md-grid-tile>
            <md-checkbox [(ngModel)]="is_select_all" (change)="toggleSelectAll()">{{is_select_all?'反选':'全选'}}</md-checkbox>
        </md-grid-tile>
        <md-grid-tile>名称</md-grid-tile>
        <md-grid-tile>价格</md-grid-tile>
        <md-grid-tile>操作</md-grid-tile>
    </md-grid-list>
    <p md-line *ngIf="is_loading_list_data"><i>数据加载中……</i></p>
    <p md-line *ngIf="!is_loading_list_data&&material_list&&!material_list.length"><i>无数据</i></p>
    <md-grid-list md-card-image class="item" *ngFor="let material_item of material_list;let i = index" cols="4" rowHeight="64px">
        <template [ngIf]="material_item.is_editing">
            <md-grid-tile colspan=2>
                <md-input style="min-width:80%" placeholder="材料名称" [(ngModel)]="material_item.editing_name" maxlength="25"></md-input>
            </md-grid-tile>
            <md-grid-tile>
                <md-input placeholder="材料价格" align="end" type="number" min=0 [(ngModel)]="material_item.editing_price">
                    <span style="min-width: 3em; display: block;" md-suffix>元/米</span>
                </md-input>
            </md-grid-tile>
            <md-grid-tile>
                <button (click)="cancelEditMaterial(material_item,i)" md-icon-button md-tooltip="取消" tooltip-position="before"><md-icon>close</md-icon></button>
                <button (click)="submitMaterialData(material_item)" md-icon-button md-tooltip="提交" tooltip-position="after"><md-icon>check</md-icon></button>
            </md-grid-tile>
        </template>
        <template [ngIf]="!material_item.is_editing">
            <md-grid-tile>
                <md-checkbox [(ngModel)]="material_item.is_selected" (change)="itemSelected(material_item,i)">{{material_item.id}}</md-checkbox>
            </md-grid-tile>
            <md-grid-tile>{{material_item.name}}</md-grid-tile>
            <md-grid-tile>{{material_item.price}}元/米</md-grid-tile>
            <md-grid-tile>
                <button (click)="editMaterial(material_item)" md-icon-button md-tooltip="编辑" tooltip-position="before"><md-icon>edit</md-icon></button>
            </md-grid-tile>
        </template>
    </md-grid-list>
    <md-card-footer>
        <md-progress-bar *ngIf="is_loading_list_data" mode="indeterminate"></md-progress-bar>
    </md-card-footer>
    <md-card-actions align="end">
        <button (click)="removeSelectedMaterial()" color="warn" md-button [disabled]="selected_num==0"><md-icon>delete</md-icon>删除选中材料</button>
        <button (click)="addNewMaterial()" md-raised-button color="primary" [disabled]="!material_list"><md-icon>add_box</md-icon>新增材料</button>
    </md-card-actions>
</md-card>