<md-card>
  <md-grid-list md-card-image class="headers" cols="3" rowHeight="48px">
    <md-grid-tile>材料名称</md-grid-tile>
    <md-grid-tile>单价</md-grid-tile>
    <md-grid-tile>操作</md-grid-tile>
  </md-grid-list>
  <md-grid-list md-card-image class="item" *ngFor="let material_item of material_list" cols="3" rowHeight="32px">
    <md-grid-tile>{{material_item.name}}</md-grid-tile>
    <md-grid-tile>{{material_item.price}}￥/米</md-grid-tile>
    <md-grid-tile>
      <button md-icon-button md-tooltip="编辑" tooltip-position="before" (click)="goEdit(material_item)"><md-icon>edit</md-icon></button>
      <button md-icon-button md-tooltip="删除" tooltip-position="after" (click)="delMat(material_item)"><md-icon>delete</md-icon></button>
    </md-grid-tile>
  </md-grid-list>
  <md-card-footer *ngIf="is_loading_list_data">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
  </md-card-footer>
</md-card>