/*一些ng2中无法表达的表达式在这里实现*/
md-tab-group>.md-tab-header>.md-tab-label{
    font-family: 'Inziu Iosevka SC','Helvetica Neue', sans-serif!important;
}
md-tab-group>.md-tab-header{
    overflow: auto!important;
}