@import '~@angular/material/core/theming/all-theme';
@import '../var';
md-card,
md-input,
md-textarea,
[md-raised-button],
my-date-picker,
md-select,
md-option {
    font-family: $md-font-family!important;
}

md-input.customer-name,
md-input.customer-phone,
md-input.customer-address {
    width: 100%;
}

.item-warp {
    display: flex;
    flex-direction: row;
    .item-left,
    .item-right,
    .item-1-3,
    .item-2-3 {
        width: 50%;
        display: inline-flex;
        box-sizing: border-box;
        >md-card {
            width: 100%;
            overflow: auto;
        }
    }
    .item-1-3 {
        width: 33.33%;
    }
    .item-2-3 {
        width: 66.66%;
    }
}

.order-detail {
    // .select md-select {
    //     width: 90%;
    // }
    // .processing md-input {
    //     width: 90%;
    // }
    // .remark {
    //     width: 100%;
    // }
    md-input,
    md-select,
    md-textarea {
        width: 100%;
    }
}

.order-size-list {
    md-grid-tile {
        text-align: left;
        md-input {
            width: 100%;
        }
    }
    .size md-input {
        width: 100%;
    }
}

.item-left-with-space {
    width: calc(100% - 0.5em)!important;
    margin-right: 0.5em!important;
}

.item-right-with-space {
    width: calc(100% - 0.5em)!important;
    margin-left: 0.5em!important;
}

md-card-title {
    .card-title-text {
        display: inline-block;
        line-height: 40px;
    }
    .card-title-action {
        vertical-align: top!important;
    }
}

@mixin order-edit-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    md-card md-card-title {
        color: md-color($primary);
    }
}